# Application Configuration
PORT=3000
NODE_ENV=development

# Storage Paths
VIDEOS_METADATA_PATH=./data/videos.json
PLAYLISTS_METADATA_PATH=./data/playlists.json
GENRES_METADATA_PATH=./data/genres.json
VIDEO_FILES_PATH=./public/videos

# Uploads
MAX_VIDEO_FILE_SIZE=104857600 # 100MB
